.library {
  transform: translateX(-100%);
  transition: all 0.5s ease;
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 25rem;
  height: 100%;
  background: #fafafa;
  box-shadow: 2px 2px 50px rgb(204, 204, 204);
  overflow-y: scroll;
  h2 {
    font-size: 2rem;
    padding: 2rem;
    font-weight: bolder;
  }
  .library-song {
    display: flex;
    align-items: center;
    padding: 1rem 2rem;
    cursor: pointer;
    transition: background 0.5s ease;
    &:hover {
      background: #eceff1;
    }
    &.active {
      background: #cfd8dc;
    }
    img {
      width: 100px;
    }
    .song-description {
      padding-left: 1rem;
      h3 {
        font-size: 1rem;
      }
      h4 {
        font-size: 0.8rem;
        opacity: 0.8;
      }
    }
  }
}
.active-library {
  transform: translateX(0);
  opacity: 1;
}

@media screen and(max-width:768px) {
  .library {
    width: 100%;
    img {
      width: 70px;
    }
  }
}
