nav {
  min-height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  h1 {
    font-size: 2rem;
    font-weight: bolder;
    text-transform: capitalize;
  }
  button {
    background: transparent;
    border: none;
    border: 2px solid rgb(65, 65, 65);
    cursor: pointer;
    padding: 0.7rem 1.5rem;
    transition: all 0.3s ease;
    font-size: 1rem;
    svg {
      margin-left: 5px;
    }
    &:hover {
      background: rgb(65, 65, 65);
      color: #fff;
    }
  }
}

@media screen and(max-width:768px) {
  nav {
    button {
      z-index: 3;
    }
  }
}
